html {
  font-size: 16px;
  box-sizing: border-box;
  line-height: 1.4;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background: #ecf0f3;
}

.cal {
  height: 90vh;
  max-width: 500px;
  margin: 50px auto;

  background: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
  border-radius: 2rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 120px repeat(5, 1fr);
  gap: 10px;
}

.cal-display {
  background-color: rgb(24, 24, 24);
  color: white;
  padding: 10px;
  grid-column: 1/-1;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input {
  font-size: 28px;
  color: #ffca68;
}

.output {
  font-size: 36px;
  justify-self: flex-end;
}

.clear,
.equals {
  grid-column: span 2;
}

.equals {
  border-radius: 0 0 22px 0;
}

.dot {
  border-radius: 0 0 0 22px;
}

button {
  background-color: rgba(255, 255, 255, 0.496);
  color: black;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  background-color: white;
  box-shadow: inset 8px 8px 8px #ffffff, inset -8px -8px 8px rgb(223, 223, 223);
  font-size: 30px;
}

@media screen and (max-width: 590px) {
  .cal {
    margin: 10px auto;
    height: 95vh;
  }
}
